.container {
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4rem auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
}

.linkList {
  display: flex;
}

.name,
.link {
  color: white;
  mix-blend-mode: difference;
  margin: 0rem 1rem;
}

.name {
  margin-right: auto;
  letter-spacing: 3px;
}

.link {
  list-style-type: none;
  text-transform: uppercase;
}

.link a {
  color: inherit;
  text-decoration: none;
}
